config.log
config.status
config.sub
configure
*.pc
libtool
ltmain.sh
stamp-h1
stamp-h
stamp-h.in
Doxyfile
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
*.bb
*.bbg
*.da
*.gcov
